.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  .logoutBtn {
    width: 100%;
  }
}
